---
title: Recipes
image_view: true
---
<div class="nav">
	{% for category in site.categories %}
		<a href=#{{ category[0] }}>{{ category[0] }}</a>
	{% endfor %}
</div>



<h1>Recipes</h1>



{% if page.image_view %}
	{% for category in site.categories %}
		<h2 id={{ category[0] }}>{{ category[0] }}</h2>
		<div class="recipes">
			{% for recipe in category[1] %}
				<div class="recipe" style="background-image: url('{{ recipe.featured_image }}')">
					<a href="{{ site.baseurl }}{{ recipe.url }}"><span>{{ recipe.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
